.map {
    height: 600px;
    width: 80%;
  }
  
.section_map{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    padding: 20px;

}

.map-container {
  position: relative;
  height: 100%;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}