<mat-card>
    <div class='container-votacao'>
        <div class='candidato'>
            <img src='../../../assets/bolsonaro.jpg'  alt='bolsonaro' />
            <button mat-raised-button color="primary" (click)='votoBolsonaro()'>Bolsonaro</button>
           <span class='votos'> {{qtVotosBolso}}</span>
        </div>
        <div class='candidato'>
            <img src='../../../assets/lula.jpg'  alt='lula' />
            <button mat-raised-button color="warn" (click)='votoLula()' >Lula</button>
            <span  class='votos'>{{qtVotosLula}}</span>
        </div>
    </div>

</mat-card>

<mat-card class='map-container'>
    
<app-map
        [locBolsonarista]='locBolsonarista'
        [locLulista]='locLulista'
></app-map>

<app-map-marker></app-map-marker>
</mat-card>