mat-card  {
    text-align: center;
}
button {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin: 20px;
}
.container-votacao {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.candidato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-votacao img {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin: 20px;
    box-shadow: 0px 10px 15px gray;
    border-radius: 50%;
}
.candidato img {
    width: 300px;
    height: 300px;
}
.votos {
    font-size: 25px;
}
.map-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
@media(max-width:800px){
    .candidato img {
        width: 150px;
        height: 150px;
    }
    mat-card {
        width: 100%;
    }
    .map-container{
        grid-template-columns: 1fr;

    }
}

